<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level - %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${user.home}/.myplayer/myplayer.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      		<!-- rollover daily -->
      		<fileNamePattern>${user.home}/.myplayer/myplayer-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
       		<!-- each file should be at most 1MB, keep 30 days worth of history, but at most 10MB -->
       		<maxFileSize>1MB</maxFileSize>    
       		<maxHistory>30</maxHistory>
       		<totalSizeCap>10MB</totalSizeCap>
    	</rollingPolicy>
		
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	
	<root level="debug">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="FILE" />
  	</root>

</configuration>